%font_body {
  font: 10px 'Roboto', sans-serif;
}
%font_header {
  font: 10px 'Carrois Gothic SC', sans-serif;
}
%font_display {
  font: 10px 'Nothing You Could Do', cursive;
}

$link_color: #ebb100;
$label_color: #78bc9b;