.flash
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      .ui.message{ :class => name == :notice ? "success" : name }
        %i.icon.close
        = content_tag :div, msg, :id => "flash_#{name}"
